* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Arial", sans-serif;
  line-height: 1.6;
  color: #333;
  /* background-color: #f4f4f9; */
}
.navbar-content {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 16px 36px;
  align-items: center;
  background-color: #0082e6;
  color: white;
  border-radius: 0.5rem;
}
#top-titulli {
  margin: 0rem 36px;
}

nav ul {
  display: flex;
  list-style: none;
}
.nav-link {
  justify-content: space-between;
  margin: 0 16px;
  padding-inline: 16px;
}
nav a {
  list-style-type: none;
  color: white;
  text-decoration: none;
  font-size: 17px;
  padding: 7px 13px;
  border-radius: 3px;
  text-transform: uppercase;
  border-radius: 3px;
}

.navbar-content a:hover {
  background-color: rgb(97, 97, 247);
  transition: 0.5s;
}
.content {
  margin: 0 220px;
  margin-bottom: 1rem;
}
#prishtine {
  border: thin solid black;
  border-radius: 0.5rem;
}
.emri-lokacionit {
  text-align: center;
  margin-bottom: 20px;
}

.emri-lokacionit h3 {
  margin-bottom: 10px;
  font-size: 24px;
  color: #333;
}

.vleresimi {
  display: flex;
  justify-content: center;
  gap: 5px;
}

.vleresimi label {
  font-size: 24px;
  color: #ffd700;
  cursor: pointer;
}

.vleresimi input {
  display: none;
}

.foto {
  width: 500px;
  height: 350px;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
}

.foto-content {
  display: flex;
  width: 100%;
  height: 100%;
  transition: transform 0.5s ease-in-out;
}

.secila-foto {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.butoni {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 2rem;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.5);
  border: none;
  cursor: pointer;
  z-index: 10;
  padding: 10px 15px;
  border-radius: 50%;
}

.butoni-majt {
  left: 10px;
}

.butoni-djatht {
  right: 10px;
}

.permbajtja {
  display: flex;
}
p {
  border: thin solid black;
  border-radius: 1.2rem;
  width: 400px;
  height: 470px;
  padding: 20px;
  margin: 2rem;
  font: optional;

  gap: 1.3rem;
}
