/* Navbar style */
.navbar {
  background: linear-gradient(135deg, #343a40 0%, #495057 100%);
  border-bottom: 1px solid #6c757d;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 3%;
  box-sizing: border-box;
}

svg {
  width: 100px;
  height: 100px;
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 20px;
  justify-content: flex-end;
}

.navbar li a {
  font-size: 20px;
  color: white;
  padding: 12px;
  display: block;
  text-decoration: none;
  transition: all 0.5s ease;
}

.navbar li a:hover {
  color: #6c757d;
  transform: scale(1.2);
}
/* Navbar style end */

/* Footer style */
footer {
  background-color: #333;
  color: white;
  padding: 2rem;
  width: 100%;
  box-sizing: border-box;
}

.footer-content {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 2rem;
}
.footer-section {
  flex: 1;
  display: block;
  min-width: 250px;
}
h3 {
  margin-top: 0;
  border-bottom: 2px solid #555;
  padding-bottom: 0.5rem;
}
ol {
  padding-left: 1.2rem;
  counter-reset: item;
}

/* .footer-li:before {
  content: counters(item, ".") ". ";
  counter-increment: item;
} */
ol ul {
  margin-top: 0.5rem;
  margin-left: 1rem;
  counter-reset: item;
  list-style-type: disc;
}
a {
  color: #ddd;
  text-decoration: none;
  transition: color 0.3s ease;
}
.footer-li {
  margin: 0.2rem;
}
.contact {
  display: inline;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 20px auto; /* Add margin for spacing */
  padding: 20px;
  width: 100%; /* Optional: Limit the width */
}
.info p {
  display: inline;
  margin: 3rem;
}

/* End footer style */
