*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.content{
    display: flex;
    flex-direction: column;
    width: 22616em;
   
}
nav{
    background-color: #0082e6;
    width: 100%;
}
label.Emriifaqes{
    color: white;
    font-size: 35px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;

}
nav ul{
    float:right;
    margin: 20px;

}
nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 20px;
}
nav ul li a{
    color:white;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
    text-decoration: none;
}
a.active, a:hover{
    background: #349ded;
    transition: .5s;
}
input{
    display: none;
    visibility: hidden;
    -webkit-appearance: none;
}
.toggle{
    position: absolute;
    height: 30px;
    width: 30px;
    z-index: 1;
    cursor:pointer;
    border-radius: 2px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
.toggle.common{
    position: absolute;
    height: 2px;
    width: 20px;
    background-color: #8000ff;
    border-radius: 50px;
}
.title{
    display:block;
    margin-top: 3em;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;

}
body{
    height: 100vh;
    display: flex;
    justify-content: center;
    
}
.Qytetet{
    margin-right:10%;
    margin-left: 10%;
   
    border-radius: 10px;
}
.Qyteti{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    align-content: stretch;
    flex-wrap: wrap-reverse;
    border: 1px solid black;
    border-radius: 10px;
    margin-top: 10px;
  
}
.EmriiQytetit{
    text-align: center;
    font-style: italic;

}
h3{
   text-decoration:underline  ;
}
.Detaje{
    margin-top: 0.2rem;
    font-style: italic;
   
}
.Hapesira{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    align-content: stretch;
    flex-wrap: wrap-reverse;

}
.Pershkrimi{
     margin: 7px;
    width:30rem;
    height: 10rem;
    border: 1px solid black;
    border-radius: 10px;
    padding: 2px;
    text-align: center;
    justify-content: center;
    align-content: center;
}
.Permbajtja{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    flex-wrap: wrap-reverse;
}
.container{
    height: 20rem;
    overflow: hidden;
    border-radius: 1rem;
    border: 2px solid black;
    box-shadow: 2px 5px 30px rgba(30, 30, 200, 0.3);
    
}
.imazhet{
   
    display: flex;
    object-fit: cover;
 animation: slide 16s infinite;
}
@keyframes slide{
    0%{
        transform: translateX(0);
    }
    25%{
        transform: translateX(0);
    }
    30%{
        transform: translateX(-100%);
    }
    50%{
        transform: translateX(-100%);
    }
    55%{
        transform: translateX(-200%);
    }
    75%{
        transform: translateX(-200%);
    }
    80%{
        transform: translateX(-300%);
    }
    100%{
        transform: translateX(-300%);
    }
}
.EmriMonumentit{
    margin: 0.5rem;    
}
.allimages{
    
    width: 230px;
    height: 150px;
    position: relative;
}
.foto{
    border: 1px solid black;
width: 100%;
height: 100%;
object-fit: cover;
border-radius: 10px;
}
#test{
    text-align: center;
}
.divider{
    width:70rem;
    height: 0.3rem;
    background-color: seagreen;
    display: inline-block;
    border-radius: 50%;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
}
