*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Komplet faqja*/
.content{
    display: flex;
    flex-direction: column;
    
    align-items: center;
}

/* Navbar style */
.navbar {
    background: linear-gradient(135deg, #343a40 0%, #495057 100%);
    
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    height: 30px;
    display: flex;
    padding: 3%;
    align-items: center;
    width: 100%;
  }
  #navbar-logo{
      list-style-type: none;
  }
  #navbar-ul {
    list-style-type: none;
    display: flex;
    gap: 20px;
    justify-content: flex-end; 
  }

  .navbar-li a {
    font-size: 20px;
    color: white;
    padding: 12px;
    display: block;
    text-decoration: none;
    transition: all 0.5s ease;
  }
  .navbar-li a:hover {
    color: #6c757d;
    transform: scale(1.2);
  }
  /* Navbar style end */
  
  /* Footer style */
  footer {
    background-color: #333;
    color: white;
    padding: 2rem;
    width: 100%;
  }
  
  .footer-content {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 2rem;
  }
  .footer-section {
    flex: 1;
    display: block;
    min-width: 250px;
  }
  h3 {
    margin-top: 0;
    border-bottom: 2px solid #555;
    padding-bottom: 0.5rem;
  }
  .footer-h3{
    text-decoration: none;
  }
  ol {
    padding-left: 1.2rem;
    counter-reset: item;
  }
  
  ol ul {
    margin-top: 0.5rem;
    margin-left: 1rem;
    counter-reset: item;
    list-style-type:disc;
  }
  .footer-li a {
    color: #ddd;
    text-decoration: none;
    transition: color 0.3s ease;
  }
  .footer-li {
    margin: 0.2rem;
  }
  .contact {
    display: inline;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 20px auto; 
    padding: 20px;
    width: 100%; 
  }
  .info p {
    display: inline;
    margin: 4rem;
  }
  
  /* End footer style */
.Qytetet{
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    width: 1200px;
}
.Qyteti{
    background-color: #fcf7f7;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    align-content: stretch;
    flex-wrap: wrap-reverse;
    border: 1px solid black;
    border-radius: 10px;
    margin-top: 10px;
  
}
.EmriiQytetit{
    text-align: center;
    font-family: "LibreBodoni",sans-serif;
    font-size: 30px;

}
h3{
   text-decoration:underline  ;
}
.Detaje{
    margin-top: 0.2rem;
    font-style: italic;
    font-size: 19px;
   
}
.Hapesira{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    align-content: stretch;
    flex-wrap: wrap-reverse;

}
.Pershkrimi{
     margin: 7px;
    width:30rem;
    height: 10rem;
    border-radius: 10px;
    padding: 2px;
    text-align: left;
    justify-content: center;
    align-content: center;
    font-size: 18px;
}
.Permbajtja{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    flex-wrap: wrap-reverse;
}
mark {
    background-color: rgb(215, 215, 148); 
    color: black; 
    font-weight: bold; 
}
.Info{
   height: 470px; 
   display: flex;
   justify-content: center;
   align-items: center;
   text-align: center;
   font-weight: bold;
   font-size: 30px;
   color:rgb(255, 255, 255);
   text-shadow: 6px 6px 8px rgba(0, 0, 0, 1);
}
.imazhet{
   
    margin-bottom: 0.1%;
    border: 0.5px solid black;
    height:470px;
    opacity:0.8;
    background-position: center;
    background-size: cover;
    animation: change 30s infinite ease;
    
}
@keyframes change{
    0%{
       background-image: url('FototperProjekt/Monumentet kulturore-historike/KalajaePrizrenit5.png');
    }
    20%{
        background-image: url('FototperProjekt/Monumentet kulturore-historike/MuzeuiKosoves1.png');
    }
    40%{
        background-image: url('FototperProjekt/Monumentet kulturore-historike/LidhjaePrizrenit2.png');
    }
    60%{
        background-image: url('FototperProjekt/Monumentet kulturore-historike/XhamiaEPirinazitPrishtine.png');
    }
    80%{
        background-image: url('FototperProjekt/Monumentet kulturore-historike/KishaeShenSpasitShelbuesit1.png'); 
    }
    
    100%{
        background-image: url('FototperProjekt/Monumentet kulturore-historike/XhamiaeSinanPashes3.png');
    }
}
.rrethMonumentit{
      display: flex;
      flex-direction: row ;
      justify-content: space-between;
      align-items: center;
}
.EmriMonumentit{
    margin-left: 2%;
}
#restaurantetlinkBtn {
    display: inline-block;
    padding: 10px 20px;
    font-size: 18px;
    font-family: "Lobster",sans-serif;
    color: #fff;
    background-color: #343a40;
    border: none;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

#restaurantetlinkBtn:hover {
    background-color:#555a5f;
}
.like-button {
    height:45px;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    cursor: pointer;
    margin-right: 2%;
    border: 1px solid red;
    border-radius: 2px;
}
.like-button .heart-icon {
    height: 100px;
    width: 100px;
    background: url("img.png.png");
    background-position: left;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}
.like-button .heart-bg {
    background-color: rgba(255,192,200,0);
    border-radius: 50%;
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 100ms ease;
}
.like-button .heart-bg:hover {
    background: rgba(255,192,200,0.7);
}
.like-button .heart-icon.liked {
    animation: like-anim 0.7s steps(28) forwards;
}
@keyframes like-anim {
    to {
        background-position: right;
    }
}
.like-button .like-text {
    font-size: 18px;
    margin-left: 10px;
    color: #888;
}

.like-button .liked-text {
    color: red;
}
.like-button .heart-icon .like-count {
    position: absolute;
    color: white;
    font-size: 18px;
    font-weight: bold;
}
.allimages{
    
    width: 230px;
    height: 150px;
    position: relative;
}
.foto{
    border: 1px solid black;
width: 100%;
height: 100%;
object-fit: cover;
border-radius: 10px;
}
#test{
    text-align: center;
}
.divider{
    width:70rem;
    height: 0.3rem;
    background-color: seagreen;
    display: inline-block;
    border-radius: 50%;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
}