*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
@font-face {
    font-family:'LibreBodoni' ;
    src: url(/LibreBodoni-VariableFont_wght.ttf);
}
@font-face {
    font-family:'Lobster' ;
    src: url(/Lobster-Regular.ttf);
}
.content{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.title{
    display: block;
    margin-top: 3em;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}
body{
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0;
}
.Qytetet{
    border-radius: 0.3%;
    width: 1200px;
    
}
.Qyteti{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    align-content: stretch;
    flex-wrap: wrap-reverse;
    border: 1px solid black;
    border-radius: 10px;
}
.foto{
    border:1px solid black;
    width: 100% ;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    cursor: pointer;
    transition: transform 0.3s ease;
}
.foto:hover{
    transform: scale(2);
    z-index: 9999;
}
.images{
    display: flex;
    width: 16%;
    height: auto;
    position: relative;
    margin: 0.5%;
    border-radius: 10%;
    object-fit: cover;
}
.EmriiQytetit{
    text-align: center;
    font-family: "LibreBodoni",sans-serif;
}
.Permbajtja{
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap-reverse;
}
.EmriiRestaurantit{
    text-align: left;
    margin-top: 40px;
    margin: 100px;
    padding-right: 4rem;
    font-size: large;
    line-height: 27px;
}
.Pershkrimi{
    margin: 15px;
    margin-top: -30px;
}
h4::before{
    content: "**";
    color: red;
}
.stars{
    display: flex;
    direction: row;
}
.star{
    font-size: 25px;
    color: #ccc;
}
.star.filled{
    color: gold;
}
#test{
    text-align: center;
}
.divider{
    width: 60rem;
    height: 0.3rem;
    background-color: black;
    display: inline-block;
    border-radius: 50%;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
}
h4{
    margin: 1%;
    padding: 3%;
    font-size: 20px;
}
h3{
    text-decoration: underline;
}
.fotografite{
    height: 450px;
    opacity: 1;
    background-position: center;
    background-size: cover;
    animation: change 30s infinite ease;
    margin-top: 0.5%;
    margin-bottom: 0.5%;
    width: 100vw;
    max-width: 100%;
}
@keyframes change{
    0%{
        background-image: url('FototperProjekt/Restaurantet/SaltRestaurant.jpg');
    }
    20%{
        background-image: url('FototperProjekt/Restaurantet/AlulaEatingHouse2.jpeg');
    }
    40%{
        background-image: url('FototperProjekt/Restaurantet/MrFisher2.jpg');
    }
    60%{
        background-image: url('FototperProjekt/Restaurantet/SaltRestaurant1.jpg');
    }
    80%{
        background-image: url('FototperProjekt/Restaurantet/UjevaraDrinit1.png');
    }
    100%{
        background-image: url('FototperProjekt/Restaurantet/CasaRita6.jpg');
    }
    
}
.navbar{
    background: linear-gradient(135deg, #343a40 0%, #495057 100%);
    border-bottom: 1px solid #6c757d;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    height: 30px;
    text-align: right;
    display: flex;
    padding: 3%;
    justify-content: center;
    align-items: center;
    width: 100%;
}
img#logo{
    width: 8%;
    justify-content: center;
    float: left;
    padding: 0;
}
ul{
    list-style-type: none;
    overflow: hidden;
}
li{
    float: left;
}
li a{
    font-size: 20px;
    color: white;
    padding: 12px;
    display: block;
    text-decoration: none;
    transition: all 0.5s ease;
}
li a:hover{
    color:#6c757d;
    transform: scale(1.2);
}
#linqet{
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: right;
    text-align: right;
    margin: 20px;
    margin-bottom: -30px;
}
#monumentetlink{
    display:inline-block;
    font-size: 20px;
    font-family: "Lobster",sans-serif;
    padding: 10px 20px;
    color: #fff;
    text-align: center;
    /* margin-left: 800px; */
    border: none;
    border-radius: 5px;
    background-color:#343a40;
    text-decoration: none;
    transition: background-color 0.3s ease;
}
#monumentetlink:hover {
    background-color: #6c757d;
}
/* Footer style */
footer {
    background-color: #333;
    color: white;
    padding: 2rem;
    width: 100%;
    box-sizing: border-box;
  }
  
  .footer-content {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 2rem;
  }
  .footer-section {
    flex: 1;
    display: block;
    min-width: 250px;
  }
  .footer-section h3{
    margin-top: 0;
    border-bottom: 2px solid #555;
    padding-bottom: 0.5rem;
    text-decoration: none;
  }
  .contact h3{
    margin-top: 0;
    border-bottom: 2px solid #555;
    padding-bottom: 0.5rem;
    text-decoration: none;
  }
  ol {
    padding-left: 1.2rem;
    counter-reset: item;
  }
  
  /* .footer-li:before {
    content: counters(item, ".") ". ";
    counter-increment: item;
  } */
  ol ul {
    margin-top: 0.5rem;
    margin-left: 1rem;
    counter-reset: item;
  }
  a {
    color: #ddd;
    text-decoration: none;
    transition: color 0.3s ease;
  }
  .footer-li {
    margin: 0.2rem;
    
  }
  .contact {
    display: inline;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 20px auto; /* Add margin for spacing */
    padding: 20px;
    width: 100%; /* Optional: Limit the width */
  }
  .info p {
    display: inline;
    margin: 3rem;
  }
  
  /* End footer style */




