body{
    margin: 0px;
    padding: 0px;
}
/* Navbar */
.navbar {
    background: linear-gradient(135deg, #343a40 0%, #495057 100%);
    border-bottom: 1px solid #6c757d;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    height: 30px;
    text-align: right;
    padding: 3%;

}
img#logo{
    width: 8%;
    justify-content: center;
    float: left;
    padding: 0;
}
ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    /* background-color: rgb(0, 0, 0); */
}
li {
    float: left;
}
li a {
    font-size: 20px;
    color: white;
    padding: 12px;
    display: block;
    text-decoration: none;
    transition: all 0.5s ease;
}
li a:hover {
    color:#6c757d;
    transform: scale(1.2);
}
/* Slide foto*/

.foto_k{
    height:500px;
    background-image: url('FototperProjekt/Main/Prishtina.png');
    opacity:1;
    background-position: center;
    background-size: cover;
    animation: change 30s infinite 1s normal;
    
}
@keyframes change{
    0%{
        background-image: url('FototperProjekt/Main/Prishtina.png');
    }
    20%{
        background-image: url('FototperProjekt/Main/prizren.jpg');
    }
    40%{
        background-image: url('FototperProjekt/Main/Suhareka.jpeg');
    }
    60%{
        background-image: url('FototperProjekt/Main/Peja.jpg');
    }
    80%{
        background-image: url('FototperProjekt/Main/Ferizaji.gif'); 
    }
    
    100%{
        background-image: url('FototperProjekt/Main/Mitrovica.jpg');
    }
}
/*  Search button */
#Pershkrimi_Search{
    font-size: 25px;

}

#search_btn{
    /* justify-content: center;
    align-items: center; */
    text-align: center;
    padding-top: 3%;
}

input[alt="kerkimi"]{
    width: 30%;
    height: 32px;
    border: 1px solid green;
    border-radius: 15px;
    box-shadow: 0px 1px 6px 4px rgba(83, 230, 86, 0.3);
}

button{
    height: 32px;
    border: 1px solid green;
    border-radius: 15px;
    box-shadow: 0px 1px 6px 4px rgba(83, 230, 86, 0.3);
}

/* most visited */

.mostVisited{
    width:max-content;
    height: 120px;
}
#pVendet{
    font-size: 20px;
    font-weight: bold;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 4%;
}
.divVendet{
    border: 1px solid black;
    border-radius: 10px;
    width: 50%;
    margin: 0% 5%;
    /* display: flex; */
    align-items: flex-start; 
    /* align-items: center;  */
    /* margin: 0 auto; */
    /* padding: 10px; */
}
#vendi{
    /* position: absolute; */
    font-size: 18px;
    /* padding-left: 8px; */
    padding: 5px;
    /* left: 35%; */
}
#imgVendet{
    width: 100%;
    height: auto;
    padding-bottom: 2%;
    margin-right: 10px;
    border-radius: 10px;
    /* position: relative; */
    /* top: 30px; */
    
}
#pershkrim_vendi{
    padding: 10px;
    text-indent: 2%;
    text-align: left;
    width: 100%;
}
#linku_vendi{
    text-decoration: none;
    font-style: italic;
    font-weight: bold;
}