* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
body {
  height: 100hv;
  display: flex;
  justify-content: center;
}
header {
  width: 100%;
} /* Navbar style */
.navbar {
  background: linear-gradient(135deg, #343a40 0%, #495057 100%);
  border-bottom: 1px solid #6c757d;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  height: 30px;
  text-align: right;
  display: flex;
  padding: 3%;
  align-items: center;
  width: 100%;
}
img#logo {
  width: 8%;
  justify-content: center;
  float: left;
  padding: 0;
}
ul {
  list-style-type: none;
  display: flex;
  overflow: hidden;
}
li {
  float: left;
}
li a {
  font-size: 20px;
  color: white;
  padding: 12px;
  display: block;
  text-decoration: none;
  transition: all 0.5s ease;
}
li a:hover {
  color: #6c757d;
  transform: scale(1.1);
}
/* Navbar style end */
#prishtine {
  border: thin solid black;
  border-radius: 0.5rem;
  margin-top: 2rem;
}
.emri-i-qytetit {
  padding: 2rem;
}
.emri-lokacionit {
  text-align: center;
  margin-bottom: 20px;
}
.emri-lokacionit h3 {
  margin-bottom: 10px;
  font-size: 24px;
  color: #333;
}
.vleresimi {
  display: flex;
  justify-content: center;
  gap: 5px;
}
.vleresimi label {
  font-size: 24px;
  color: #ccc;
  cursor: pointer;
}
.vleresimi label.filled {
  color: gold;
}
.vleresimi input {
  display: none;
}
.foto {
  width: 500px;
  height: 350px;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
}
.foto-content {
  display: flex;
  width: 100%;
  height: 100%;
  transition: transform 0.5s ease-in-out;
}
.secila-foto {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.butoni {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 2rem;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.5);
  border: none;
  cursor: pointer;
  z-index: 10;
  padding: 10px 15px;
  border-radius: 50%;
}
.butoni-majt {
  left: 10px;
}
.butoni-djatht {
  right: 10px;
}
.permbajtja {
  display: flex;
  justify-self: center;
  margin-bottom: 4rem;
}
.permbajtja > p {
  width: 50%;
  max-width: 400px;
  border: thin solid black;
  border-radius: 1.2rem;
  padding: 20px;
  margin: 3.8rem;
  overflow-wrap: break-word;
}
.galleri-germia {
  justify-content: center;
}
