* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
@font-face {
  font-family: "LibreBodoni";
  src: url(../LibreBodoni-VariableFont_wght.ttf);
}
@font-face {
  font-family: "Lobster";
  src: url(../Lobster-Regular.ttf);
}
/* body {
  height: 100%;
  margin: 0;
} */
.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
}
header {
  width: 100%;
}
#navbar-placeholder {
  visibility: visible;
}
.imazhet {
  margin-bottom: 0.1%;
  border: 0.5px solid black;
  height: 430px;
  width: 100%;
  opacity: 0.8;
  background-position: center;
  background-size: cover;
  animation: change 30s infinite ease;
}
@keyframes change {
  0% {
    background-image: url("../FototperProjekt/BukuriteNatyrore/Germia.webp");
  }
  20% {
    background-image: url("../FototperProjekt/BukuriteNatyrore/Germia4.jpg");
  }
  40% {
    background-image: url("../FototperProjekt/BukuriteNatyrore/Badovci.jpg");
  }
  60% {
    background-image: url("../FototperProjekt/BukuriteNatyrore/Badovci2.jpeg");
  }
  80% {
    background-image: url("../FototperProjekt/BukuriteNatyrore/ParkuBlinajes1.jpg");
  }

  100% {
    background-image: url("../FototperProjekt/BukuriteNatyrore/ParkuBlinajes2.jpg");
  }
}
.page-buton {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 30px;
  margin-bottom: 10px;
}
#restaurantetlinkBtn {
  display: inline-block;
  padding: 10px 20px;
  font-size: 18px;
  font-family: "Lobster", sans-serif;
  color: #fff;
  background-color: #343a40;
  border: none;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

#restaurantetlinkBtn:hover {
  background-color: #555a5f;
}

.qyteti {
  border: thin solid black;
  border-radius: 0.5rem;
  margin-top: 2rem;
  margin-bottom: 0.5rem;
  padding-top: 20px;
  background-color: #fcf7f7;
}
#emri-qytetit {
  text-align: center;
  font-size: 30px;
  font-family: "LibreBodoni", sans-serif;
  padding-top: 0;
}
.emri-i-qytetit {
  padding: 2rem;
}
.emri-lokacionit {
  text-align: center;
  margin-bottom: 20px;
}
.emri-lokacionit h3 {
  margin-bottom: 10px;
  font-size: 24px;
  color: #333;
}
.vleresimi {
  display: flex;
  justify-content: center;
  gap: 5px;
}
.vleresimi label {
  font-size: 24px;
  color: #ccc;
  cursor: pointer;
}
.vleresimi label.filled {
  color: gold;
}
.vleresimi input {
  display: none;
}
.permbajtja {
  display: flex;
  justify-self: center;
  margin-bottom: 4rem;
}
.permbajtja > p {
  width: 50%;
  height: 50%;
  max-width: 400px;
  border: thin solid black;
  border-radius: 1.2rem;
  padding: 20px;
  margin: 3.8rem;
  overflow-wrap: break-word;
}
.galleri-germia {
  justify-content: center;
}

.tabs {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.tab-butoni {
  background-color: #f1f1f1;
  border: 1px solid #ccc;
  border-radius: 5px 5px 0 0;
  padding: 10px 20px;
  margin-right: 10px;
  cursor: pointer;
  font-weight: bold;
}

.tab-butoni.active {
  background-color: #fff;
  border-bottom: none;
}

.tab-butoni:hover {
  background-color: #e0e0e0;
}

.qyteti:not(.active) {
  display: none;
}

table {
  border: 1px solid;
  width: 100%;
  border-radius: 5px;
  margin: 20px 0px;
  background-color: #fcf7f7;
}
th,
td {
  border: 1px solid #ddd;
  padding: 10px 26px;
  text-align: left;
}
thead {
  background-color: #495057;
  color: white;
}

td[rowspan] {
  border-left: 3px solid black;
  border-right: 3px solid black;
  font-weight: bold;
}

.permbajtja .slideshow-container {
  max-width: 500px;
  max-height: 288px;
  width: 100%;
  position: relative;
  margin: auto;
  overflow: hidden;
  background: #000;
  border-radius: 10px;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
}

.permbajtja .mySlides {
  width: 100%;
  height: 100%;
  display: none;
}

.permbajtja .mySlides img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  margin: auto;
  display: block;
}

.permbajtja .prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  background-color: rgba(0, 0, 0, 0.5);
}

.permbajtja .next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.permbajtja .prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number Text */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

@media (max-width: 768px) {
  .permbajtja .slideshow-container {
    max-width: 100%;
    max-height: 250px;
  }
}

.vizitoret {
  display: flex;
  justify-content: center;
  gap: 30px;
}
.numri-vizitoreve {
  font-family: Arial, sans-serif;
  background-color: #fcf7f7;
  padding: 10px;
  margin: 10px auto;
  border: 0.5px solid black;
  border-radius: 10px;
  justify-content: center;
  text-align: center;
  max-width: 300px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* @media (max-width: 480px) {
  .permbajtja .prev,
  .next {
    font-size: 14px;
    padding: 10px;
  }
} */
